.sitesummary__maincard__siteDetails__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
}
.sitesummarydataheader__title {
  display: flex;
  align-items: center;
}
.sitesummarydataheader__title h1 {
  font-size: 2.2rem;
  color: #141414;
  font-weight: 550;
}
.sitesummary__maincard__siteDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}
.sitesummary__maincard__siteDetails span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #797777;
}
.sitesummary__maincard__siteDetails p {
  font-size: 1rem;
  font-weight: 550;
}

/* Card Stylings */
.sitestatusrealtime__livereading__card__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.realtimereport__livereading__card {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.116);
  border-radius: 3px;
}
.realtimereport__livereading__card__icon {
  margin-right: 10px;
  font-size: 2rem;
}

.realtimereport__livereading__card__content__parameterName {
  color: royalblue;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}
.realtimereport__livereading__card__content p {
  font-size: 1rem;
  font-weight: 500;
}
.realtimereport__livereading__card__content p span {
  color: green;
  font-size: 1.5rem;
  font-weight: 500;
}

.liveReadings {
  font-size: 1.2rem;
  color: #141414;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sitesummary__maincard__siteDetails__active {
  color: rgb(6, 207, 6);
  background-color: rgba(0, 128, 0, 0.137);
  padding: 3px;
  border-radius: 5px;
  font-weight: 500;
  height: max-content;
  width: max-content;
  font-size: 1rem !important;
}
